@import "icons.css";
@import "fonts.css";

html,
body,
.container,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "source_sans_pro", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, serif;
    -webkit-font-smoothing: antialiased;

}

.page {
    padding: 20px 10px;
}

.mesos-logo {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 2;
    height: 40px;
}

.splitPage {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.splitPage__left {
    background-color: white;
    width: 300px;
    flex: 0 0 auto;
    height: 100%;
    overflow-y: auto;
}

.splitPage__right {
    background-color: #232837;
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
    color: white;
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu__logo {
    width: 70px;
    display: block;
    margin-bottom: 15px;
}

.menu__header {
    height: 200px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    color: #8038E5;
    text-align: center;
    flex-direction: column;
}

.menu__icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 15px;
}

.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__list-item {
    padding: 15px 30px;
    color: #8B98AE;
    text-decoration: none;
}

.menu__list-item:hover,
.menu__list-item--active {
    background-color: #FAF7FE;
    color: #8038E5;
}

.menu__footer {
    height: 40px;
    flex: 0 0 auto;
    display: flex;
}

.menu__footer-item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.configForm {
    display: block;
    width: 100%;
}

.configForm__name {
    display: block;
    width: 100%;
}

.configForm__input {
    display: block;
    min-height: 100px;
    width: 100%;
}

.configList {
    list-style-type: none;
    padding: 0;
}

.config {
    list-style-type: none;
}

.box {
    background-color: #292E3F;
    border: solid 1px #262B3C;
    border-radius: 10px;
    min-height: 245px;
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    margin: 0 30px 30px 0;
}

.box__header {
    text-align: center;
    color: white;
    padding: 7px 17px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: solid 1px #262B3C;
    position: relative;
    text-shadow: 0 1px 0px #000;
}

.box__body {
    display: flex;
    padding: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    border-top: solid 1px #2E3447;
}

.box--list .box__body {
    justify-content: flex-start;
}

.box--list .box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big-number {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 100;
}

.big-number__title {
    margin: 0 0 25px;
    color: white;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
}

.box-list {
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
}

.box-list__item {
    font-size: 12px;
    border-radius: 5px;
    background-color: #2e3647;
    padding: 7px 10px;
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    justify-content: space-between;
}

.box-list__key {
    font-weight: 700;
}

.box-list__value {
    text-align: right;
}

.status {
    font-size: 12px;
}

.status-icon {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.status-icon.status--healthy {
    background-color: #11D17B;
}

.status-icon.status--error {
    background-color: #d12f36;
}

.status-icon.status--idle {
    background-color: #c5c5c5;
}

.status--healthy {
    color: #11D17B;
}

.status--sick:before {
    color: #d12f36;
    content: "Sick";
}

.box__subtitle {
    color: white;
    font-size: 13px;
    margin-bottom: 15px;
}